version: '3.8'
services:
  backend:
    build: ./server
    ports:
      - "4000:4000"
    env_file:
      - .env
    networks:
      - mern-network

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
