version: '3.8'
services:
  backend:
    build: ./server
    ports:
      - "4000:4000" # Updated to match the PORT in .env (4000)
    env_file:
      - ./server/.env
    networks:
      - mern-network

  frontend:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
