version: '3.8'
services:
  backend:
    build: ./server
    # Ports removed because Nginx will handle reverse proxying on port 4000
    env_file:
      - ./server/.env
    networks:
      - mern-network

  frontend:
    build: ./client
    ports:
      - "80:3000"
      - "4000:4000"
    depends_on:
      - backend
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
